<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-item *ngFor="let item of items" [item]="item"></app-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button>Payers</ion-fab-button>
    <ion-fab-list side="top">
        <app-payer *ngFor="let payer of payers" [payer]="payer"></app-payer>
    </ion-fab-list>
  </ion-fab>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
